*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.singleReservationFrom{
    width: 100%;
    height: fit-content;
    padding: 3rem 3rem;
}

.singleReservation_main{
    box-shadow: var(--box-shadow);
    padding: 2rem 0rem;
    border-radius: 6px;
    /* width: 100%;
    height: fit-content; */
}


.singleReservation_main h1{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.filter_section{
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    border-radius: 8px;
    width: 80%;
}

.image-wrapper{
    background-color: #000000;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-button{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    border-color: transparent;
    color: white;
    background-color: rgb(87 134 190);
    width: 150px;
    border-radius: 8px;
}

.filter-select{
    width: 150px;
}

.cari_btn{
    width: fit-content;
    padding: 3px 20px;
    border-radius: 8px;
    background-color: rgb(12 33 51);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}


.card-section{
    width: 80%;
    height: fit-content;
}

.room-card{
    width: 100%;
    height: 400px;
    height: fit-content;
}

.room-card img{
    width: 100%;
    height: 300px;
}

.card-body{
    color: #fff;
    padding: 1rem 2rem;
    width: 100%;
    background-color: rgb(14 20 42);
}
.card-body p{
    margin: 0;
}

.card-body button{
    background-color: rgb(209 22 13);
    padding: 6px 20px;
    border-radius: 6px;
    color: #fff;
    font-weight: 400;
    border: unset;
}

.offer-sticker{
    width: fit-content;
    padding: 8px 16px;
    background-color: rgb(254 239 2);
    position: relative;
    left: 40%;
    top: 40px;
}

.cari_btn{
    width: fit-content;
    padding: 3px 20px;
    border-radius: 8px;
    background-color: rgb(12 33 51);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.custome-width{
    width: 80%;
}

.form_section_box{
    box-shadow: var(--box-shadow);
    border: 8px;
    padding: 2rem 2rem;
    /* width: 100%; */
}

.form_section_box h1{
    text-align: left;
    margin-bottom: 20px;
}

.button_wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-end;
}

.button_wrapper button{
    width: fit-content;
    padding: 6px 16px;
    border-radius: 8px;
    background-color: rgb(27 37 55);
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width:768px) {
    .filter_section{
        width: 98%;
    }
    .card-section{
        width: 100%;
    }
    .custome-width{
        width: 98%;
    }
}